body {
    margin: 0;
}

header, footer {
    width: 100%;

    background-color: #c4d0c9;
}

header {
    height: 120px;

    text-align: center;
}

#site-name {
    margin-top: 30px;

    display: inline-block;
}

nav {
    float: right;
}

nav ul {
    border: 1px solid;

    margin: 0;
    padding: 2px 2px 3px 10px;
    list-style-type: none;
}

nav ul li {
    margin-right: 10px;

    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
}

#main-logo {
    float: left;

    width: 100px;
    height: 100px;
    border-radius: 100%;

    margin: 10px;
}
